#botonAyuda{
	position:relative;
	float:right;
	color:white;
}

.material-icons{
	color:white;
}

p{
	margin:4%;
}

.center { margin: 0 auto; width: 300px; }

.side-nav{
	background-color: #BF7C5A;
}
body{
	background-color:#660A0A;
	color:white;
}

#fachada{
	width:369px!important;
	height:492px!important;
}

#btnUnamuno{
	position: relative!important;
	background-color: #BF7C5A!important;
	color:white!important;
	font-size: 20px;
}

#btnFray{
	position: relative!important;
	background-color: #BF7C5A!important;
	color:white!important;
	font-size: 20px;
}

#copyright{
	position:relative;
	float: bottom;
	bottom: 0%;
	font-size:10px;
}

#copyright2{
	position:relative;
	float: bottom;
	bottom: 0%;
	color:white;
	font-size:10px;
}



/* Copyright 2018 by Roberto Iglesias Pérez and Pablo Mateos García */